<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <title>Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../codemirror/lib/codemirror.css">

</head>

<body>
    <div class="container-fluid background-default" style="padding-left: 0px; padding-right: 0px;">
        <% include testbar %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-7 padding-default border-left-default fill">
                    <% include question %>
                </div>
                <div class="col-sm-12 col-md-5 padding-default border-left fill">
                    <% include answer %>
                </div>
            </div>
        </div>
    </div>

    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../codemirror/lib/codemirror.js"></script>
    <script src="../codemirror/mode/xml/xml.js"></script>
    <script src="../codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="../javascripts/moment.js"></script>
    <script src="../javascripts/jquery.countdown.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

    <script src="../javascripts/main.js"></script>
</body>

</html>