<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/profile">Home</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <% if(user.admin) { %>
                <li class="nav-item">
                    <a href="/admin" class="btn btn-default btn-sm">Admin</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>