<div class="card" style="margin-top:10px;">
  <h5 class="card-header" id="question-header">

  </h5>
  <div class="card-body">
    <p id="question"> </p>
    <img id="question_image" src="" alt="">
  </div>
</div>

<div class="card" style="margin-top:10px;" id="code">
  <h5 class="card-header">
    Code
  </h5>
  <div class="card-body">
    <textarea id="mycode"></textarea>
  </div>
</div>