<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Panel</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="/metisMenu/metisMenu.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <% include ../layout %>

        <div id="page-wrapper">
            <table class="table table-striped" id="userTable">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Question</th>
                        <th scope="col">Code</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(i=0; i < questionTable.length; ++i) { %>
                    <tr>
                        <th scope="row">
                            <%= questionTable[i].id %>
                        </th>
                        <td>
                            <%= questionTable[i].question %>
                        </td>
                        <td>
                            <%=questionTable[i].code %>
                        </td>
                        <td>
                            <%= questionTable[i].image %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/javascripts/sb-admin-2.js"></script>

</body>

</html>